main.container {
    height: 100vh;
    max-width: 350px;
    min-height: 50vh;
    padding: 2rem;
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}


main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 10%;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
    background: #00a8ff;

}


form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #00ced1, #00a8ff);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #00ced1, #00a8ff);

}
